.card-loan-section{
    .loan-card{
        padding: 20px 5px;
        margin-bottom: 30px;
        background: #f5f5f5;
        border: navajowhite;
        box-shadow: darkviolet;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        max-height: 290px;
        min-height: 290px;
    }
    .check-link{
        text-decoration: none;
        color: #ff403f;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    .check-link:hover{
       
        color: #a81d1d;
      
       
    }

    
   

}
