#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.h2-font{
  font-size: 2.5rem;
}
.margin-t-1{
  margin-top: 1rem;
}
.margin-t-2{
  margin-top: 2.5rem;
}
.margin-t-5{
  margin-top: 5rem;
}
.margin-t-10{
  margin-top: 180px;
}
.margin-b-1{
  margin-bottom: 1rem;
}
.margin-b-2{
  margin-bottom: 2rem;
}
.margin-b-3{
  margin-bottom: 3rem;
}
.title-txt{
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.personal-loan{
  margin-top: 50px;
  nav{
    margin-top: 50px;
  }
  .feature-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    min-height: 150px;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  ul{
   
    list-style: disc;
  }
  li{
    line-height: 30px;
  }
  strong{
    margin-right: 10px;
  }
  strong::after{
    content: ':';
  }
  .review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-card {
    width: calc(50% - 20px); /* Adjust for margins */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.review-card p {
    margin-bottom: 15px;
}

.review-card .star-rating {
    color: #f0c14b; /* Gold color for stars */
}

.review-card .author-info {
    display: flex;
    align-items: center;
}

.review-card .author-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.loan-card-icon{
  font-size: 30px;
  color: #ff403f;
}
.loan-card-text{
  font-size: 20px;
  font-weight: bold;
 
}
.loan-nav{
  margin-top: 50px;
  position: sticky;
  top: 0;
  /* background: #eeeeee; */
}
}
/* credit card section */
.credit-card{
  .credit-card-section {
    margin-bottom: 30px;
  }

  .credit-card-section h2 {
    margin-bottom: 20px;
  }

  .credit-card-section p {
    margin-bottom: 15px;
  }

  .credit-card-types {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .credit-card-type {
    width: 20%;
    text-align: center;
  }

  .credit-card-features {
    margin-top: 30px;
  }

  .credit-card-features ul {
    list-style: none;
    padding: 0;
  }

  .credit-card-features li {
    margin-bottom: 10px;
  }

  .credit-card-benefits {
    margin-top: 30px;
  }

  .credit-card-eligibility {
    margin-top: 30px;
  }

  .credit-card-documents {
    margin-top: 30px;
  }

  .apply-button {
    margin-top: 20px;
    text-align: center;
  }
  .card {
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card-c{
    background: #ff403f12;
        border: none;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .card-icon {
    font-size: 2.5rem;
    color: #007bff;
  }
  .card-icon2{
    font-size: 2.5rem;
    color: #fe5309;
  }
  .credit-card-eligibility {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eaf1ff;
  }

  .apply-button {
    margin-top: 20px;
    text-align: center;
  }

}
.became-partner-container{
  .info-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: none;
    border-radius: 10px;
  }
  .info-card:hover {
    transform: scale(1.05);
  }
  .stats {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  .custom-checkbox {
    font-size: 0.9rem;
  }
  .feature-card {
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .feature-card h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  .illustration img {
    width: 100%;
  }
  .partner-section {
    margin-bottom: 30px;
  }

  .partner-section h2 {
    margin-bottom: 20px;
  }

  .partner-section p {
    margin-bottom: 15px;
  }

  .partner-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .partner-option {
    text-align: center;
    padding: 20px;
    width: 20%;
    background: #f1f1f1;
  }

  .partner-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .partner-description {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
  }

  .training-section {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
  }

  .training-section h3 {
    margin-bottom: 20px;
  }

  .training-section ul {
    list-style: none;
    padding: 0;
  }

  .training-section li {
    margin-bottom: 10px;
  }

  .training-section img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
  }
  .card-icon2{
    font-size: 2.5rem;
    color: #fe5309;
  }
}
.contct-us{
  .contact-container {
    display: flex;
}

.contact-form {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-map {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #ff6600; /* Ruloans orange color */
    border-color: #ff6600;
}
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar .btn{
  color: #e73f4e !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  background: rgba(231, 63, 78, .11) !important;
  border: none !important;
  text-transform: uppercase;
}
.btn{
  color: #e73f4e !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  background: rgba(231, 63, 78, .11) !important;
  border: none !important;

}
.navbar {
  background: #fff !important;
  box-shadow: 0 6px 10px 0 rgba(67, 118, 186, .06)!important;
  padding: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 18px!important;
  font-weight: 500!important;
  color: #000000db!important;
  text-transform: uppercase;
}
.faq .accordion-item{
  margin: 14px 0px;
    padding: 10px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    border-radius: 8px !important;
}
.faq .accordion-button{
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 20px !important;
  font-weight: 500;
  color: #000 !important;
}